:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Red: hsl(0, 100%, 50%);
  --Pink: hsl(327, 100%, 46%);
  --Violet: hsl(279, 94%, 40%);

  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
/*   font-family: 'Big Shoul ders Display', cursive;
  font-family: 'Lexend Deca', sans-serif; */
  --Font-size: 15px;
}
